@media (max-width: 1200px){
    .wrapper {
        max-width: 960px;
    }

    .story-card {
        width: 300px;
    }
}

@media (max-width: 960px){
    .wrapper {
        max-width: 760px;
    }

    .header-search {
        display: none;
    }

    .story-card {
        width: 230px;
    }

    .story::before {
        font-size: 110px;
    }
}

@media (max-width: 760px){
    .wrapper {
        max-width: 480px;
    }

    .header-logo {
        gap: 10px;
    }

    .header-links {
        gap: 12px;
    }

    .header-menu {
        margin-bottom: 50px;
    }

    .section-label {
        margin-bottom: 30px;
    }

    .header-title {
        font-size: 48px;
    }


    /* header contacts */

    .header-contacts {
        flex-direction: column;
        gap: 40px;
    }
    
    .header-contact {
        flex-direction: column;
        gap: 15px;
    }

    /* story */

    .story-cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .story-card {
        width: 100%;
    }

    .story::before {
        font-size: 85px;
        line-height: 95px;
        margin-top: 40px;
    }

}

@media (max-width: 480px){
    .wrapper {
        max-width: 320px;
    }

    .header-menu {
        flex-direction: column;
        gap: 20px;
    }

    .header-title {
        font-size: 36px;
        line-height: 50px;
    }

    .header {
        padding-bottom: 65px;
    }
}

@media (max-width: 320px){
    
}