body {
    font-family: 'Roboto';
    background-color: #F7F8FA;
}


/* global wrapper */
.wrapper {
    max-width: 1110px;
    margin: auto;
}

/* header section */

.header {
    padding: 65px 0 205px 0;
    background-image: url("../images/header-background.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 125px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 35px;
}

.logo-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #FFFFFF;
}

/* search button */

.header-search {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 20px;
    opacity: 0.6;
}

.search-text {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
}

.header-links {
    display: flex;
    gap: 35px;

}

.header-link, .header-button {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}


/* offer section */

.header-offer {
    max-width: 747px;
    margin: auto;
}

.section-label {
    display: block;
    padding: 5px 0;
    background-color: #FF6633;
    font-weight: 900;
    color: #FFFFFF;
    width: 106px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 65px;

}

.header-title {
    font-size: 64px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 90px;
    text-align: center;
    margin-bottom: 125px;
}

/* header contacts */

.header-contacts {
    display: flex;
    justify-content: space-between;
}

.header-contact {
    display: flex;
    align-items: center;
    gap: 36px;
}

.header-link {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
}


.header-action {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 30px;
    display: block;
    padding: 15px 35px;
    width: 142px;
    box-sizing: border-box;

    font-weight: 900;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #6B7A99;
    text-decoration: none;
    margin: auto;
    right: 0;
    left: 0;
    position: absolute;
    bottom: -30px;
}


/* story section */

.section {
    padding-top: 120px;
    position: relative;
    
}

.section::before {
    font-weight: 900;
    font-size: 150px;
    line-height: 220px;
    text-align: center;
    text-transform: uppercase;
    color: #002881;
    opacity: 0.03;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -999;

}

.story::before{
    content: 'our story';
}

.story-label {
    color: #29CC39;
    background: rgba(41, 204, 57, 0.1);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    text-align: center;
    color: #4D5E80;
    margin-bottom: 65px;
}

.section-content {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #7D8FB3;
    max-width: 710px;
    margin: auto;
    margin-bottom: 50px;

}

.story-cards {
    display: flex;
    justify-content: space-between;
}

.story-card {
    background-color: #FFFFFF;
    width: 350px;
    text-align: center;
    padding: 35px 0;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
}

.story-card-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 50px;
    color: #4D5E80;
    margin-bottom: 10px;
}

.story-card-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #ADB8CC;
}

/* services */

.services-label {
    color: #3361FF;
    background: rgba(51, 97, 255, 0.1);
}

.services::before {
    content: 'services';
}


.services-items {
    display: flex;
    justify-content: space-between;
}

.services-icon {
    background-color: #ffffff;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.services-item-text {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #4D5E80;

}


.deals {
    padding-top: 90px;
}


.deals::before{
    content: 'deals';
}

.deals-label {
    background: rgba(255, 102, 51, 0.1);
    color: #FF6633;
}

.deals-menu {
    display: flex;
    justify-content: space-between;
    max-width: 649px;
    margin: 0 auto 90px auto;
}

.deals-link > a {
    font-weight: 900;
    font-size: 13px;
    line-height: 25px;
    color: #7D8FB3;
    text-decoration: none;
}

.deals-link-selected > a {
    color: #FF6633;
    border-bottom: 2px solid #FF6633;
}

/* deals cards */
/*  */
/*  */

.deals-container {
    height: 1370px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.deals-card {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
}

.deals-card > img {
    display: block;
    width: 100%;
    height: 190px;
    object-fit: cover;

}

.deals-card-container {
    padding: 30px;
}

.deals-card-title {
    font-weight: 900;
    font-size: 15px;
    line-height: 30px;
    color: #6B7A99;
    margin-bottom: 10px;
}

.deals-card-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #6B7A99;
    margin-bottom: 20px;
}

.delas-card-about {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: #ADB8CC;
    margin-bottom: 15px;
}

.deals-card-info {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #ADB8CC;
}

.deals-card:nth-child(1){
    margin-top: 60px;
}

.deals-card:nth-child(7){
    margin-top: 110px;
}

/* services 2 */

.feedback-comments {
    display: flex;
    gap: 30px;
}

.feedback-text {
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
    border-radius: 10px;
    padding: 30px;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: #7D8FB3;    
}

.feedback-info {
    padding: 30px;
    
}


/* inst section */


.insta-label {
    background-color: #29CC39;
}

.insta::before{
    content: 'insta';
}

.insta-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    width: 100%;
}

.insta-image {
    width: 100%;
    display: block;
}


/* form */

.form-label {
    background-color: rgba(51, 97, 255, 0.1);
    color: #3361FF;
}

.form::before{
    content: 'in touch';
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.input-long {
    grid-column: 1 / 3;
}

.contact-input {
    background-color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Roboto';
    color: #7D8FB3;
    width: 100%;
    box-sizing: border-box;
}

.contact-button {
    font-size: 14px;
    line-height: 30px;
    font-weight: 900;
    font-family: 'Roboto';
    background-color: #3361FF;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 35px;
    width: 158px;
    margin: auto;
}

.input-wrapper {
    position: relative;
}

.input-wrapper::after {
    content: '';
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 999;
    top: 20px;
    right: 30px;
    background-repeat: no-repeat;
}

.name::after {
    background-image: url('../images/form-icons/person.svg');
}

.email::after {
    background-image: url('../images/form-icons/email.svg');
}

.phone::after {
    background-image: url('../images/form-icons/phone.svg');
}

.message::after {
    background-image: url('../images/form-icons/message.svg');
}


.footer {
    padding: 95px 0;
}

.footer-content {
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #4D5E80;
}

.footer-links {
    display: flex;
    max-width: 237px;
    flex-wrap: wrap;
    column-gap: 51px;
    height: 70px;
    align-content: space-between;
}

.footer-link {
    color: #7D8FB3;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    text-decoration: none;
}



.stars-link {
    font-size: 11px;
    line-height: 30px;
    position: relative;
}

.stars-link::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background-image: url('../images/footer/arrow.svg');
    position: absolute;
    top: -1px;
    right: -30px;
}

.footer-stars-container {
    margin-bottom: 22px;
}